.App {
  text-align: center;
    -webkit-columns: 100px 3;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Data{
  float: left;
  height:100vh;
  width:20vw;
  background: lightblue;
  font-style: italic;
  color: maroon;
  text-align: center;
}

.Graph{
  float: right;
  height:90vh;
  width:38vw;
  background: white;
  color: maroon;
  text-align: center;
}


.Filter{
  float: right;
  height:100vh;
  width:22vw;
  background: yellow;
  font-style: italic;
  overflow-y: scroll;
  color: maroon;
  text-align: center;
  }
